In [1]:
import numpy as np
import pandas as pd

import sys
sys.path.append('./utils')
from GenerateStrategies import *

In [2]:
miragine = Miragine('./data/army_infos.csv')

In [54]:
miragine.select_best(13, mode='supply')

    pos     score
0    15  0.731818
1    16  0.727206
2    14  0.614286
3    12  0.395833
4    11  0.166667
5     5 -0.489583
6    10 -0.500000
7     8 -0.500000
8    13 -0.666667
9     9 -0.875000
10    3 -1.916667
11    2 -2.941667
12    7 -4.000000
13    4 -4.375000
14    6 -4.958333
15    1 -6.435417

In [ ]:
ls = []
for i in miragine.positions:
    ls.append(miragine.select_best(i, mode='money').reset_index(drop=True)['pos'].rename(i))

pd.concat(ls, axis=1)

In [ ]:
np.save('./strategies/money_mode.npy', pd.concat(ls, axis=1).T.values)

In [ ]:
ls2 = []
for i in miragine.positions:
    ls2.append(miragine.select_best(i, mode='supply').reset_index(drop=True)['pos'].rename(i))

pd.concat(ls2, axis=1)

In [ ]:
np.save('./strategies/supply_mode.npy', pd.concat(ls2, axis=1).T.values)